name: ci
on: [push]

permissions:
  contents: write

jobs:
  test:

    # Run FPM tests (debug + release) on all OS/compiler combination.
    name: ${{ matrix.os }}_${{ matrix.compiler }}_fpm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gfortran
            compiler-version: 13.3.0
            fpm-options: "--profile debug --flag '-coverage'"
            extra-packages: "lcov"
           
    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          compiler: ${{ matrix.compiler }}
          compiler-version: ${{ matrix.compiler-version }}
          platform: ${{ matrix.os }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: fpm test (debug)
        run: |
          fpm build --compiler ${{ matrix.compiler }} ${{ matrix.fpm-options }} --verbose --show-model
          fpm test --compiler ${{ matrix.compiler }} ${{ matrix.fpm-options }} --verbose

      - name: Run example
        run: |
          fpm run --compiler ${{ matrix.compiler }} ${{ matrix.fpm-options }} --example mpc
          fpm run --compiler ${{ matrix.compiler }} ${{ matrix.fpm-options }} --example compact_mpc
          fpm run --compiler ${{ matrix.compiler }} ${{ matrix.fpm-options }} --example markowitz

      - name: Create coverage report
        if: contains( matrix.os, 'ubuntu') && contains( matrix.compiler, 'gfortran')
        run: |
          mkdir -p ${{ env.COV_DIR }}
          mv ./build/gfortran_*/*/* ${{ env.COV_DIR }}
          lcov --capture --initial --base-directory . --directory ${{ env.COV_DIR }} --output-file ${{ env.COV_DIR }}/coverage.base
          lcov --capture           --base-directory . --directory ${{ env.COV_DIR }} --output-file ${{ env.COV_DIR }}/coverage.capture
          lcov --add-tracefile ${{ env.COV_DIR }}/coverage.base --add-tracefile ${{ env.COV_DIR }}/coverage.capture --output-file ${{ env.COV_DIR }}/coverage.info
        env:
          COV_DIR: build/coverage

      - name: Upload coverage report
        if: contains( matrix.os, 'ubuntu') && contains( matrix.compiler, 'gfortran')
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/coverage/coverage.info
          verbose: true
